<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ headline }}</h1>
        <h2>{{ text }}</h2>
        {% if "инженер" in prof or "строитель" in prof%}
            <div>Инженерные тренажеры</div>
            <img src="\static\ship_it.png" width=30% height=30%>
        {% else %}
            <div>Научные симуляторы</div>
            <img src="\static\ship_ns.png" width=30% height=30%>
        {% endif %}
    </body>
</html>