{% extends "base.html" %}

{% block content %}
<div class="top">
    <img src="../static/images/MARS.png">
    <h1>Аварийный доступ</h1>
</div>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.id_user.label }}<br>
        {{ form.id_user(class="form-control") }}<br>
        {% for error in form.id_user.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.id_captain.label }}<br>
        {{ form.id_captain(class="form-control") }}<br>
        {% for error in form.id_captain.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password_captain.label }}<br>
        {{ form.password_captain(class="form-control", type="password") }}<br>
        {% for error in form.password_captain.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}