h4 {
    color: red;
    padding-left: 20px;
}

.top{
    display: flex;
    height: 50px;
    align-items: center;
}


.container {
    width: 60%;
    padding-left: 20px !important;
    margin-left: 0 !important;
}


.backgr {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: pink;
}