<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ headline }}</h1>
        <h2>{{ text }}</h2>
        {% if par == 'ul' %}
          <ul>
          {% for i in list_prof %}
            <li>{{ i }}</li>
          {% endfor %}
          </ul>
        {% elif par == 'ol' %}
          <ol>
          {% for i in list_prof %}
            <li>{{ i }}</li>
          {% endfor %}
          </ol>
        {% else %}
        <div>Неверный параметр</div>
        {% endif %}

    </body>
</html>